body.contact {

  a, img {
    background-size: contain;
  }

  #contact {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p, p a {
      font-size: 0.8rem;
    }
    p {
      padding: 3em 0 3em 0;
      text-align: center;
      line-height: 1.5em;
      width: 24em;

    }

  }

  #contact-image {
    background-image: url('images/contact.png');
    background-size: contain;
    background-position: 50% 50%;
    height: 9.44em;
    width: 4em;
  }

  @media screen and (orientation: portrait) {
    #contact p {
      width: 12em;
    }
  }
  @media screen and (min-height: 550px) {
    #contact {

      p {
        padding-top: 0;
        margin-top: 1.5em;
        padding-bottom: 5em;
        width: 12em;
      }

      p, p a {
        font-size: 1rem;
      }
    }

    #contact-image {
      margin-top: 2em;
    }

  }

}
