$chain-min-width: 640px;

$stretch-scale: 6;

body {
  background-size: contain;
  background-position: 50% 50%;

}

#logo {

  font-size: 10vw;
  -webkit-transform: scale(1, #{$stretch-scale}); /* Safari and Chrome */
  -moz-transform: scale(1, #{$stretch-scale}); /* Firefox */
  -ms-transform: scale(1, #{$stretch-scale}); /* IE 9 */
  -o-transform: scale(1, #{$stretch-scale}); /* Opera */
  transform: scale(1, #{$stretch-scale}); /* W3C */
}

.chainlink-mask {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 2.5em;

  &.right {
    right: -1px;
  }
  &.left {
    left: 0;
  }
}

.img-width {
  //  background-color:gold;
  width: 65%;
  height: 55%;
  min-width: 100vw;
}

#home {

  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 2em auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  #chainlink-image {

    background-size: cover;
    display: flex;

    justify-content: space-between;
    align-items: center;
  }
}

.links {
  position: relative;
  height: 5em;
  z-index: 2;
  //  background-color: rgba(250, 200, 200, 0.5);

  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 6em 0 6em;

}

@media (min-width: 475px) {

  h1 {
    font-size: 24vw;
  }
}

@media (min-width: 600px) {

  body {
    margin-top: 0; //to fix top bar in chrome
  }
  h1 {
    font-size: 17vw
  }

  .img-width {
    min-width: $chain-min-width;
  }

}

@media (min-width: 1000px) {
  h1 {
    font-size: 10em;
  }
}

@media screen and (max-height: 420px) {

}
