$chain-min-width: 640px;

$stretch-scale: 6;

body {
  background-size: contain;
  background-position: 50% 50%;

}

#home-navigation {
  position: fixed;
  height: 5em;
  z-index: 2;
  //  background-color: rgba(250, 200, 200, 0.5);

  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  :first-child {
    flex-grow: 2;
  }

  a {
    max-width: 6em;
  }

}

#logo-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #logo {

    background-image: url('images/title.png');
    background-size: 100% 100%;
    width: 8em;
    height: 5.5em;
    margin-bottom: 2em;
  }
}

.chainlink-mask {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 2.5em;

  &.right {
    right: -1px;
  }

  &.left {
    left: 0;
  }
}

.img-width {
  //  background-color:gold;
  width: 65%;
  height: 55%;
  min-width: 100vw;
}

#home {

  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 2em auto 2em auto;

}

.mobile-contact-link {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;

  &.bottom{
    bottom: 2em;
  }

  &.top {

  }
}



.desktop-contact-link {
  display: none;
}

@media (orientation: landscape) {

  #home-navigation {

    a, :first-child {
      flex-grow: 1;
    }
  }

  .mobile-contact-link {
    display: none;
  }

  .desktop-contact-link {
    display: block;
  }

  #logo-container {
    #logo {

      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1000px) {

  #home-navigation {

    a {
      max-width:50%;
    }
  }
}


@media (min-width: 600px) {

  body {
    margin-top: 0; //to fix top bar in chrome
  }

}
