body.shop {

  #shop-container {

    position:relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    a {
      position:relative;
      margin: 1em;
      font-size: 1.2em;
      font-family: Helvetica Neue, Arial, sans-serif;
      font-weight: 100;
      text-decoration: none;
      color:black;
    }
    #middle {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        vertical-align: middle;
        height: 1em;

        &#left {
          transform: rotate(-90deg);
          position: relative;
          right: 1em;
        }
        &#right {
          transform: rotate(90deg);
          position: relative;
          left: 1em;
        }
      }

    }

    #bricks {
      position:absolute;
      top:0;
      left:0;
      background-color:pink;
      height:100vh;
      width:100vw;

      @media (orientation: landscape) {
        background-image: url('images/bricks-landscape.png');
      }
    }

    #product {
//      background-color:pink;
//      background-image: url('images/bricks-portrait.png');
      background-size: contain;
      background-position: 50% 50%;
      height: 60vh;
      width: 60vw;
      z-index: 2;
      overflow:scroll;
    }

  }

  @media screen and (min-width: 800px) {
    font-size: 1.2em;
  }
}