
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body * {
  background-repeat: no-repeat;
  box-sizing: border-box;
}
a, body {
//  cursor: url(./images/cursor-black.png) 132 6, auto;
}

body {
  background-color: #dfdfdf;
  height: 100%;
  margin: 0 0 0 0;
  top: 0;
  background-repeat: no-repeat;

  color: #303030;
}

body, h1, a, a:visited, a:active{
  font-family: 'UnifrakturCook', cursive;
  color: #5a5a5a;
  text-decoration: none;
  letter-spacing: 0.1em;
}

a{
  font-size:1.4em;
}

h1 {
  height: 1em;
}

p a:hover{
  text-decoration: line-through;
}


#navigation {

  position: relative;
  height: 5em;
  z-index: 2;
  //  background-color: rgba(250, 200, 200, 0.5);

  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em 2em 0 2em;
  font-size: 0.7em;

}



@import "home.scss";
@import "base.scss";
@import "contact.scss";
@import "shop.scss";