
<ww-navigation></ww-navigation>
<div id="home">

  <div class="img-width links">
    <a ui-sref="contact" ui-sref-opts="{reload:true}" id="contact"></a>
    <a ui-sref="about" ui-sref-opts="{reload:true}" id="about"></a>
  </div>
  <div class="img-width" id="chainlink-image">
    <div class="chainlink-mask left"></div>
    <h1 id="logo">
      wurst
    </h1>
    <div class="chainlink-mask right"></div>
  </div>
  <div class="img-width links">
    <a ui-sref="shop" ui-sref-opts="{reload:true}" id="shop"></a>
  </div>

</div>