<div id="shop-container">

  <div id="bricks"></div>
  <a ui-sref="shop.tote-bags">tote bags</a>
  <div id="middle">
    <a id="left" ui-sref="shop.prints">prints</a>
    <div id="product" ui-view="product">
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
      product scroll view<br/>
    </div>
    <a id="right" ui-sref="shop.shirts">shirts</a>
  </div>
  <a ui-sref="shop.enamel-pins">enamel pins</a>
</div>


<ww-navigation></ww-navigation>
