<div id="shop-container">

  <a
     ng-click="go('shop.tote-bags')">
    tote bags
  </a>
  <div id="middle">
    <a id="left"
    ng-click="go('shop.prints')">
      prints
    </a>

    <div id="product" ui-view="product">

    </div>
    <!--    <a id="right" ui-sref="shop.shirts">shirts</a>-->
    <a id="right" ng-click="go('shop.shirts')">
      shirts
    </a>

  </div>
  <a ng-click="go('shop.enamel-pins')">
    enamel pins
  </a>


  <div id="bricks-container" ng-if="wallStillStanding">

    <simple-sprite
        class="bricks"
        ng-if="animationStarted"
        src="images/bricks-sprites.png"
        frame-width="719"
        frame-height="749"
        frames="18"
        frames-per-row="3"
        repeat="false"
        speed="60">
    </simple-sprite>

    <div id="bricks" class="bricks"
         ng-if="!animationStarted">

    </div>
  </div>

</div>

<div id="img-preload" style="display:none;">

  <img src="images/tote1.png" width="200"/>
  <img src="images/tote2.png" width="200"/>
  <img src="images/bricks-sprites.png"/>
</div>


<ww-navigation style="z-index:3; position:absolute;"></ww-navigation>
