body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

body * {
  background-repeat: no-repeat;
  box-sizing: border-box; }

body {
  background-color: #f0f0f0;
  height: 100%;
  margin: 0 0 0 0;
  top: 0;
  background-repeat: no-repeat; }

body {
  /*
  DESKTOP MOCKUP
   */
  /*
  background-image: url("./images/mockup-wurst.jpg");
  background-size: 100%;
  background-position: 50% 50%;
  */
  /*
  MOBILE MOCKUP
  */
  background-size: contain;
  background-position: 50% 50%; }

.chainlink-mask {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 2.5em;
  background: #f0f0f0; }
  .chainlink-mask.right {
    right: -1px; }
  .chainlink-mask.left {
    left: 0; }

.img-width {
  width: 65%;
  height: 55%;
  min-width: 100vw; }

h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  height: 1em;
  font-size: 30vw;
  font-weight: initial; }

#home {
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #home #chainlink-image {
    background-image: url("./images/fence.png");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.links {
  position: relative;
  height: 5em;
  z-index: 2; }
  .links a {
    position: absolute;
    background-size: 80%;
    width: 6em;
    height: 3em; }
    .links a#contact {
      background-image: url("images/link-contact.png");
      width: 13em;
      height: 6em;
      left: 2em;
      top: 2em; }
    .links a#about {
      background-image: url("images/link-about.png");
      width: 8em;
      height: 10em;
      /*
      right: calc((640px - 100vw) / 2 + 2em);*/
      right: 2em;
      top: -1em; }
    .links a#shop {
      background-image: url("images/link-shop.png");
      width: 13em;
      height: 7em;
      right: 1em;
      top: -1em; }

@media (min-width: 475px) {
  h1 {
    font-size: 24vw; } }

@media (min-width: 600px) {
  body {
    margin-top: 0; }
  h1 {
    font-size: 17vw; }
  .img-width {
    min-width: 640px; }
  .links a#contact {
    left: 4.6em;
    top: -1em; }
  .links a#shop {
    right: 6em;
    top: -1.3em; } }

@media (min-width: 800px) {
  a#about {
    right: -4.8em; } }

@media (min-width: 1000px) {
  h1 {
    font-size: 10em; } }

@media screen and (max-height: 420px) {
  .links a#contact {
    left: 2.6em;
    top: 1em; }
  .links a#about {
    right: 0;
    top: 0.6em; }
  .links a#shop {
    right: 1em;
    top: -1.3em; } }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body.contact {
  background-color: #EDEEFF; }
  body.contact a, body.contact img {
    position: absolute;
    background-size: contain; }
  body.contact #email {
    background-image: url("images/email.png");
    top: 15vh;
    left: 20vw;
    width: 70vw;
    height: 35vh; }
  body.contact #yarrow {
    background-image: url("images/yarrow.png");
    left: 10vw;
    top: 25vh;
    width: 15vw;
    height: 30vh; }
  body.contact #instagram {
    background-image: url("images/instagram.png");
    top: 50vh;
    left: 15vw;
    width: 50vw;
    height: 30vh; }
  body.contact #checker {
    background-image: url("images/checker.png");
    top: 75vh;
    left: 40vw;
    width: 45vw;
    height: 25vh; }

body.shop #shop-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  body.shop #shop-container a {
    margin: 1em;
    font-size: 1.2em;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 100; }
  body.shop #shop-container #middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    body.shop #shop-container #middle a {
      vertical-align: middle;
      height: 1em; }
      body.shop #shop-container #middle a#left {
        transform: rotate(-90deg);
        position: relative;
        right: 1em; }
      body.shop #shop-container #middle a#right {
        transform: rotate(90deg);
        position: relative;
        left: 1em; }
  body.shop #shop-container #bricks {
    background-image: url("images/bricks-portrait.png");
    background-size: contain;
    background-position: 50% 50%;
    height: 60vh;
    width: 60vw; }
    @media (orientation: landscape) {
      body.shop #shop-container #bricks {
        background-image: url("images/bricks-landscape.png"); } }

@media screen and (min-width: 800px) {
  body.shop {
    font-size: 1.2em; } }

#navigation {
  font-size: initial;
  position: fixed;
  top: 0;
  right: 0;
  height: 1.5em;
  width: 1.5em;
  margin: 1.5em;
  background-image: url("images/home-icon.png");
  background-size: contain;
  background-position: 50% 50%; }
