
body, html {
    height:100%;
    margin:0;
}
body{
  height: 100%;
  margin: 0 0 0 0;
}

body, a {
    cursor: url(./images/cursor.png) 12 12, auto;
}

body * {
 /*   border: 1px red solid;*/
    /*
    box-sizing: content-box;*/
    box-sizing: border-box;
}
