body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

body * {
  background-repeat: no-repeat;
  box-sizing: border-box; }

body {
  background-color: #dfdfdf;
  height: 100%;
  margin: 0 0 0 0;
  top: 0;
  background-repeat: no-repeat;
  color: #303030; }

body, h1, a, a:visited, a:active {
  font-family: 'UnifrakturCook', cursive;
  color: #5a5a5a;
  text-decoration: none;
  letter-spacing: 0.1em; }

a {
  font-size: 1.4em; }

h1 {
  height: 1em; }

p a:hover {
  text-decoration: line-through; }

body {
  background-size: contain;
  background-position: 50% 50%; }

#home-navigation {
  position: fixed;
  height: 5em;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center; }
  #home-navigation :first-child {
    flex-grow: 2; }

#logo-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #logo-container #logo {
    background-image: url("images/title.png");
    background-size: 100% 100%;
    width: 8em;
    height: 5.5em;
    margin-bottom: 2em; }

.chainlink-mask {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 2.5em; }
  .chainlink-mask.right {
    right: -1px; }
  .chainlink-mask.left {
    left: 0; }

.img-width {
  width: 65%;
  height: 55%;
  min-width: 100vw; }

#home {
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 2em auto 2em auto; }

#mobile-contact-link {
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: 2em;
  width: 100%; }

#desktop-contact-link {
  display: none; }

@media (min-width: 475px) {
  #home-navigation a, #home-navigation :first-child {
    flex-grow: 1; }
  #mobile-contact-link {
    display: none; }
  #desktop-contact-link {
    display: block; }
  #logo-container #logo {
    margin-bottom: 0; } }

@media (min-width: 600px) {
  body {
    margin-top: 0; }
  h1 {
    /*
        font-size: 17vw*/ } }

@media (min-width: 1000px) {
  h1 {
    /*
        font-size: 10em;*/ } }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body.contact a, body.contact img {
  background-size: contain; }

body.contact #contact-navigation {
  position: relative;
  height: 5em;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em 2em 0 2em;
  font-size: 0.7em; }

body.contact #contact {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  body.contact #contact p, body.contact #contact p a {
    font-size: 0.8rem; }
    @media screen and (min-height: 400px) {
      body.contact #contact p, body.contact #contact p a {
        font-size: 1rem; } }
  body.contact #contact p {
    margin: 1em 0 2em 0;
    text-align: center;
    line-height: 1.5em;
    width: 12em; }

body.contact #contact-image {
  background-image: url("images/contact.png");
  background-size: contain;
  background-position: 50% 50%;
  height: 9.44em;
  width: 4em; }

body.shop #shop-container {
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  body.shop #shop-container a {
    position: relative;
    margin: 1em;
    font-size: 1.2em;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: black;
    z-index: 2; }
  body.shop #shop-container #middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    body.shop #shop-container #middle a {
      position: relative;
      vertical-align: middle;
      height: 1em; }
      body.shop #shop-container #middle a#left {
        transform: rotate(-90deg);
        right: 1em; }
      body.shop #shop-container #middle a#right {
        transform: rotate(90deg);
        position: relative;
        left: 1em; }
    body.shop #shop-container #middle #product {
      background-size: contain;
      background-position: 50% 50%;
      height: 60vh;
      width: 60vw;
      z-index: 1;
      overflow: scroll; }
  body.shop #shop-container #bricks {
    background-image: url("images/bricks-portrait.png");
    background-size: cover;
    background-position: 50% 50%; }
    @media (orientation: landscape) {
      body.shop #shop-container #bricks {
        background-image: url("images/bricks-landscape.png"); } }

@media screen and (min-width: 800px) {
  body.shop {
    font-size: 1.2em; } }

.bricks {
  height: 120vh;
  width: 120vw; }

#bricks-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  #bricks-container .anim {
    height: 749px;
    width: 719px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Elliptical_coordinates_grid.svg/1420px-Elliptical_coordinates_grid.svg.png");
    background-position: 50% 50%; }
