/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

#sample-length-slider {
  cursor: pointer;
  border: 0.6em solid #f7f7f7;
  border-left: 0;
  border-right: 0;
  top: 0.25em;
  height: 3px; }
  #sample-length-slider .ui-slider-handle {
    top: -10px;
    height: 25px;
    width: 2px;
    margin: 0;
    border-width: 0; }
  #sample-length-slider .ui-slider-handle:focus {
    width: 4px;
    outline: 0; }

body {
  background: #f7f7f7; }

body * {
  font-family: 'Roboto Mono', monospace; }

input, label, span {
  background: rgba(0, 0, 0, 0); }

label::selection,
input::selection,
span::selection,
button::selection,
.track p::selection,
.track div::selection,
.track h3::selection {
  background: rgba(0, 0, 0, 0); }

.marquee-gap {
  width: 16em;
  display: inline-block; }

.top-bar {
  height: 2.5em;
  background: black;
  color: #f7f7f7;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2; }
  .top-bar span {
    margin: 0;
    padding: 0; }

#tabs {
  position: fixed;
  top: 2.5em;
  left: calc(250px + 1px);
  right: -1px;
  height: 2.5em;
  display: flex;
  background-color: #f7f7f7;
  z-index: 2; }
  #tabs .tab {
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-width: 1px 1px 1px 1px; }
    #tabs .tab.active {
      border-width: 1px 1px 0 1px; }

.settings-toggle {
  cursor: pointer; }

span.selectedSetting {
  text-transform: uppercase;
  border: solid black;
  border-width: 0 0 1.7px 0; }

span.unSelectedSetting {
  text-transform: none; }

button, #file-picker-label {
  cursor: pointer;
  width: 100%;
  height: 2.5em;
  font-size: 1em;
  background-color: #f7f7f7;
  border: 1px solid black;
  color: black;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center; }

.preferences {
  border: 1px solid black;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 2.5em;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .preferences li {
    width: 80%;
    margin: 1em; }

section {
  position: absolute;
  padding: 1.5em;
  top: calc(2.5em + 2.5em);
  left: 250px; }

.track {
  margin-bottom: 2em; }
  .track h3 {
    font-weight: 400;
    text-transform: uppercase; }

.samples {
  display: flex;
  flex-wrap: wrap; }
  .samples .sample {
    cursor: pointer;
    text-decoration: none;
    width: 3em;
    height: 4em;
    display: flex;
    flex-direction: column; }
    .samples .sample .speaker-icon {
      width: 100%;
      height: 100%;
      display: inline-block;
      background-image: url("images/speaker-black-quiet.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50% 50%; }
    .samples .sample button {
      font-size: 0.2em; }
    .samples .sample .playing {
      background-image: url("images/speaker-black.png"); }
    .samples .sample .bookmarked {
      background-color: palegoldenrod; }

#sample-length-slider {
  margin-top: 0.5em;
  width: 100%;
  display: inline-block; }

.track-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.delete-icon {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-image: url("images/trash.png");
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.75em 0 0.75em;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }
